<% include ../Top.ejs %>
<link rel="stylesheet" href="/treeview/jquery.treeview.css"/>
<script src="/treeview/jquery.treeview.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
<div class="hp97 oh fl pp1" id="d_define" style="width:20%">
    <div>
        <strong>类别列表</strong>
    </div>
    <ul id="ul_tree" class="hp95 oya" data-bind="template:{name:'tmpl',foreach:$data}">
    </ul>
</div>
<div class="fr hp98 oh pp1" id="d_mmc" style="width:75%">
    <div class="wp98 hp98 hide pp1 oya" id="d_list" data-bind="foreach:$data" style="line-height: 25px;">
        <a data-bind="text:cnt,click:function(){edit($data._id())}" class="ilblk" style="width: 30%;"></a>
    </div>
    <div class="wp100 hp100 hide oya" id="d_edit">
        <div class="wp98 mc ">
            <!--ko if:$data._id()!=''-->
            <b>ID:</b><span data-bind="text:_id"></span>
            <!--/ko-->
            <b class="ml10">题型:</b>
            <select data-bind="value:AnswerType,event:{'change':tChg}">
                <option value="1">单选</option>
                <option value="2">多选</option>
            </select>
            <b>类别:</b><a data-bind="text:Define.Name,click:function(){$('#d_prnt').dialog('open')}"></a>
        </div>
        <div class="wp98" style="padding-bottom:5px;" id="d_taC">
            <textarea id="ta"></textarea>
            <fieldset class="wp98 cb pp1 mt10">
                <legend><strong>答案</strong><a href="javascript:addA()" class="=ml10">添加答案</a></legend>
                <div data-bind="foreach:Answers" style="line-height: 25px;">
                    <div class="ilblk" style="width:30%; margin-bottom:5px;">
                        <input class="ml10" type="text" data-bind="value:Content"/><label>
                            <!--ko if:$root.AnswerType()=='1'-->
                            <input type="radio" data-bind="value:true,checked:IsCorrect" name="rb_ans"/>
                            <!--/ko-->
                            <!--ko if:$root.AnswerType()=='2'-->
                            <input type="checkbox" data-bind="value:true,checked:IsCorrect"/>
                            <!--/ko-->
                            <span>正确答案</span></label>
                    </div>
                </div>
            </fieldset>
            <div class="cb ac pt10">
                <input type="button" value="保存" onclick="save()"/>
                <!--ko if:$data._id()!=''-->
                <input type="button" value="删除" onclick="del()"/>
                <!--/ko-->
            </div>
        </div>
    </div>
</div>
<div class="hide" id="d_prnt">
    <strong>类别列表</strong>
    <ul id="ul_tree1" class="hp95 oya" data-bind="template:{name:'tmpl1',foreach:$data}">
    </ul>
</div>
<script type="text/html" id="tmpl">
    <li><a data-bind="text:Name,click:function(){dSlt($data._id,$data.Name,$data.ValuePath)}"></a>
        <!--ko if:$data.items.length-->
        <ul data-bind="template:{name:'tmpl',foreach:items}"></ul>
        <!--/ko-->
    </li>
</script>
<script type="text/html" id="tmpl1">
    <li><a data-bind="text:Name,click:function(){pChg($data._id,$data.Name,$data.ValuePath)}"></a>
        <!--ko if:$data.items.length-->
        <ul data-bind="template:{name:'tmpl1',foreach:items}"></ul>
        <!--/ko-->
    </li>
</script>
<script type="text/javascript">
    addMenu(['<input type="button" onclick="edit(0)" id="bt_add" style="display: none;" value="" />']);
    $('#d_prnt').dialog({modal: true, autoOpen: false, width: 400, height: WS.h - 50, title: '选择类别'});
    $(function () {
        $.getJSON('/base/getihi', {tp: 'BODefine', id: 'Knowledge'}, function (d) {
            ko.applyBindings(d, document.getElementById('d_define'));
            ko.applyBindings(d, document.getElementById('d_prnt'));
            $('#ul_tree').treeview({persist: "location", collapsed: true, unique: true});
            $('#ul_tree1').treeview({persist: "location", collapsed: true, unique: true});
            $('#mainContainer').show();
        });
    })
    var editor = CKEDITOR.replace('ta', {
        filebrowserBrowseUrl: '/CkEditor/Browser',
        filebrowserImageBrowseUrl: '/Files/SingleUploader?path=Uploadeds,projects'
    });
    editor.config.height = WS.h - 330;
    function dSlt(id, name, vp) {
        GV.Define = {Name: name, Value: id, ValuePath: vp};
        $('#bt_add').val('添加【' + name + '】问题').show();
        bindList();
    }
    function tChg(d) {
        _.each(GV.mdl.Answers(), function (i) {
            i.IsCorrect(false);
        });
    }
    function pChg(id, name, vp) {
        GV.mdl.Define.Name(name);
        GV.mdl.Define.Value(id);
        GV.mdl.Define.ValuePath(vp);
        $('#d_prnt').dialog('close');
    }
    function bindList() {
        $.getJSON('/base/getobjs', {tp: 'Question', query: {'Define.Value': GV.Define.Value}}, function (d) {
            if (d.length == 0) {
                alert('没有与' + GV.Define.Name + '相关问题!');
                $('#d_list').hide();
                $('#d_edit').hide();
                return;
            }
            _.each(d, function (i) {
                i.cnt = i.Content.replace(/<[^>]+>/g, '');
                i.cnt = i.cnt.length > 20 ? i.cnt.substr(0, 20) + '...' : i.cnt;
            })
            if (GV.list) {
                ko.mapping.fromJS(d, GV.list);
            }
            else {
                GV.list = ko.mapping.fromJS(d);
                ko.applyBindings(GV.list, document.getElementById('d_list'));
            }
            showPnl('d_list');
        })
    }
    function edit(id) {
        async.waterfall(
                [
                    function (wcb) {
                        if (id == 0) {
                            wcb(null, {_id: '', AnswerType: '1', Answers: [], Content: '', DefineID: GV.Define.Value});
                        }
                        else {
                            wcb(null,null)
                        }
                    },
                    function (o, wcb) {
                        if (o) {
                            wcb(null, o)
                        }
                        else {
                            $.getJSON('/base/getobj', {tp: 'Question', query: {_id: id}}, function (d) {
                                wcb(null, d);
                            })
                        }
                    }

                ], function (e, o) {
                    if (GV.mdl) {
                        ko.mapping.fromJS(o, GV.mdl);
                    }
                    else {
                        GV.mdl = ko.mapping.fromJS(o);
                        ko.applyBindings(GV.mdl, document.getElementById('d_edit'));
                    }
                    editor.setData(o.Content);
                    showPnl('d_edit');
                });
    }
    function addA() {
        GV.mdl.Answers.push(ko.mapping.fromJS({Content: '', IsCorrect: false}));
    }
    function save() {
        var m = ko.mapping.toJS(GV.mdl);
        m.Content = editor.getData();
        var s='';
        if(!m.Content){ s = '请输入问题内容!\r'}
        if(_.any(m.Answers,function (i){return i.Content==''})){ s+='答案内容不能为空!\r'}
        if(_.every(m.Answers,function (i){return i.IsCorrect==false})){ s+='请设置正确答案!'}
        if(s){alert(s);return;}
        m.AnswerType= Number(m.AnswerType);
        $.post('/base/postsave', {tp: 'Question', obj: JSON.stringify(m)}, function (d) {
            alert(d.error || '保存成功!');
            if (d.msg) {
                GV.mdl._id(d.ID);
                bindList();
            }
        });
    }
    function del(){
        if(window.confirm('是否删除尸体?')){
            $.getJSON('/question/get',{t:'delquestion',id:GV.mdl._id()},function(d){
                alert(d.error|| '删除完成!');
                if(d.msg){
                    bindList();
                }

            });
        }
    }
</script>
<% include ../Bottom.ejs %>