<% include ../Top.ejs %>
<link rel="stylesheet" href="/treeview/jquery.treeview.css"/>
<script src="/treeview/jquery.treeview.js"></script>
<script src="/xheditor/xheditor-zh-cn.min.js"></script>
<div class="hp97 oh fl pp1" id="d_list" style="width:20%">
    <div>
        <strong>类别列表</strong>
    </div>
    <ul id="ul_tree" class="hp95 oya" data-bind="template:{name:'tmpl',foreach:$data}">
    </ul>
</div>
<div class="hp97 oh fr hide pp1" id="d_edit" style="width:75%">

    <div class="editor-label">ID:</div>
    <div class="editor-field"><span data-bind="text:_id"></span></div>
    <div class="editor-label">名称</div>
    <div class="editor-field"><input type="text" data-bind="value:Name"/></div>
    <div class="editor-label">上级类别</div>
    <div class="editor-field"><a data-bind="text:Parent.Name,click:function(){$('#d_prnt').dialog('open')
        }"></a></div>
    <fieldset>
        <legend><strong>知识内容</strong></legend>
        <textarea id="ta"></textarea>
    </fieldset>
    <div class="ac mc pt10">
        <input type="button" value="保存" onclick="save()"/>
        <!--ko if:$data._id()!=''-->
        <input type="button" value="删除" onclick="del()"/>
        <!--/ko-->
    </div>

</div>
<div class="hide" id="d_prnt">
    <strong>类别列表</strong>
    <ul id="ul_tree1" class="hp95 oya" data-bind="template:{name:'tmpl1',foreach:$data}">
    </ul>
</div>
<script type="text/html" id="tmpl">
    <li><a data-bind="text:Name,click:function(){dSlt($data._id(),$data.Name(),$data.ValuePath())}"></a>
        <!--ko if:$data.items().length-->
        <ul data-bind="template:{name:'tmpl',foreach:items}"></ul>
        <!--/ko-->
    </li>
</script>
<script type="text/html" id="tmpl1">
    <li><a data-bind="text:Name,click:function(){pChg($data._id(),$data.Name(),$data.ValuePath())}"></a>
        <!--ko if:$data.items().length-->
        <ul data-bind="template:{name:'tmpl1',foreach:items}"></ul>
        <!--/ko-->
    </li>
</script>
<script type="text/javascript">
    addMenu(['<input type="button" value="" class="hide" id="bt_add" onclick="edit()">']);
    $('#d_prnt').dialog({modal: true, autoOpen: false, width: 400, height: WS.h - 50, title: '选择类别'});
    var editor = $('#ta').editor({height: WS.h - 300});
    $(function () {
        $.getJSON('/base/getihi', {tp: 'BODefine', id: 'Knowledge'}, function (d) {
            ko.applyBindings(d, document.getElementById('d_list'));
            ko.applyBindings(d, document.getElementById('d_prnt'));
            $('#ul_tree').treeview({persist: "location", collapsed: true, unique: true});
            $('#ul_tree1').treeview({persist: "location", collapsed: true, unique: true});
        });
    })
    function dSlt(id, name, vp) {
        GV.Define = {Name: name, Value: id};
        $('#bt_add').val('添加【' + name + '】下级知识').show();
    }
    function pChg(id, name) {
        GV.mdl.Define.Name(name);
        GV.mdl.Define.Value(id);
        $('#d_prnt').dialog('close');
    }
    function bindList() {
        $.getJSON('/base/getobjs', {tp: '', query: {'Define.Value': GV.Define.Value}}, function (d) {
            if (GV.list) { ko.mapping.fromJS(d, GV.list);}
            else {
                GV.list = ko.mapping.fromJS(d);
                ko.applyBindings(GV.list, document.getElementById('d_list'));
            }
            showPnl('d_list');
        });
    }
    function edit(id) {
        async.waterfall([], function (e, d) {
            if (GV.mdl) { ko.mapping.fromJS(d, GV.mdl);}
            else {
                GV.mdl = ko.mapping.fromJS(d);
                ko.applyBindings(GV.mdl, document.getElementById('d_edit'));
            }
            $('#e_edit').show()
        })
    }
    function save() {}
    function del() {}
    bindList();
    $('#mainContainer').show();
</script>
<% include ../Bottom.ejs %>